.navbar {
  padding: 0;
}

.navbar-brand {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.navbar .nav-link {
  margin: 0 10px;
}

.navbar .nav-link:hover {
  text-decoration: underline;
}

.btn-warning {
  background-color: #ff9f00;
  border: none;
}
