.burger-contr{
    position: relative;
    width: 100%;

}
.burger-contr .burger-img{

  
}
.burger-contr h1{
    position: absolute;
    color: white;
   top: 130px;
   font-weight: bold;
   margin-left: 25px;
   font-size: 65px;
  
}
.burger-contr h1 span{
    color: #FBA919;
}
.burger-contr p{
    position: absolute;
    bottom: 220px;
    color: white;
    font-size: 32px;
    margin-left: 25px;
  

}