body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar__left {
    display: flex; 
     align-items: center;
  }
  
  .navbar__logo {
    /* display: flex; */
    /* align-items: center; */
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar__logo-image {
    height: 30px;
    margin-right: 8px;
  }
  
  .navbar__location {
    margin-left: 20px;
    font-size: 14px;
    color: gray;
  }
  
   .navbar__search {
    /* flex: 1; */
    /* display:; */
    /* justify-content: center; */
    position: relative;
    
   } 
  
  .navbar__search-input {
    width: 450px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .search-icon{
    position: absolute;
    right: 20px;
    top: 9px;
   
  }
  .navbar__links {
    /* display: flex; */
    /* gap: 20px; */
    padding: 5px;
    text-align: center;
  }
  
  .navbar__links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.3s ease;
    padding: 9px;
  }
  
  .navbar__links a:hover {
    color: #f90;
  }
  
  .navbar__actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .navbar__icon {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    position: relative;
  }
  .navbar__left-button{
    position: relative;
    border: none;
    background-color: #FBA919;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: white;
    margin-left: 80px;
    

  }
.immmg{
    position: absolute;
    left: 190px;
    z-index: 1;

  }
  
  .navbar__cart-count {
    background-color: #f90;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -10px;
  }
  
  .navbar__sign-in {
    background-color: #f90;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .navbar__sign-in:hover {
    background-color: #e58000;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .navbar__left, .navbar__search, .navbar__actions {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .navbar__links {
      display: none; /* Hide for simplicity, can be toggled with a menu */
    }
  }