.footer{
    height: auto;
    background-color: #000000;
    margin-top: 400px;
   
    
}

 .footer-row h4{
    color: #FBA919;
    margin-top: 30px;
    margin-left:28px;
   
}
.footer-row li{
    list-style: none;
    color: white;
    line-height: 40px;
    font-size: 15px;
   

}
.footer-last h5{
    color:white;
    margin-left: 130px;
    font-size: 15px;
    padding: 2px;
    margin-top: 5px;
    
   


  
   
}
.footer-last img{
    width: 30px;
    
}
.footer p{
    margin-left: 130px;
    padding-bottom: 20px;
    color: #5c5959;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

 
}
