


 
.nav-link h5{
    font-size: 15px !important;
}

.nav-link a:hover{
    color: #FBA919;
}
 .search{
    position: relative;
  }
  .search-img{
    position: absolute;
    left: 580px;
    top: 9px;
  } 
.fillters{
   
    color:white !important;
    font-weight: bold;
    width:100px !important;
}


 




